<li class="space">
    <div class="col-md-4"><a href="/spaces/{{spaceName}}">{{spaceName}}</a></div>
    <div class="col-md-4">{{spaceDescription}}</div>
    <div class="col-md-4">Latest Post Title: <a href="#">{{latestPost}}</a></div>
</li>