<html>
    {{>head}}
    <body>
        {{> navigation }}
        <div class="container-fluid" style="margin-top: 40px">
            {{{ body }}}
        </div>
        <footer class="footerT">
            <div class="footerTContainer">
                <p class="text-muted">&copy; 2015 University Of Pretoria</p>
            </div>
        </footer>
    </body>
</html>