<div class="profile">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center" id="signIn">
                Your Profile Picture
            </div>
            <br>

            <div class="text-center">
                <img class="profilePic" src="{{profilePic}}" alt="Profile Pic of {{user}}">
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="input-1" id="signIn" class="control-label">Select A New Profile Picture:</label>
                <br>
                <br>
                <input id="resource" type="file" style="display:none">

                <div class="input-append">
                    <input id="resourceC" class="input-large" type="text">
                    <br>
                    <br>
                    <button class="browseBtn" onclick="$('input[id=resource]').click();processResource();">Browse
                    </button>
                    <button id="uploadPP" type="button" class="browseBtn" onclick="uploadPP();">Upload</button>
                </div>
                <script type="text/javascript">
                    $('input[id=resource]').change(function () {
                        $('#resourceC').val($(this).val());
                    });

                    function uploadPP() {
                        var pic = $("#resource").val();
                        var fileName = pic.slice(12);
                        var path = window.location.pathname;

                        $.post(path,{picture: pic, fName: fileName}, function(data)
                        {
                            if(data==='done')
                            {
                                alert(fileName + " could not been set as your new Profile Picture, since the resources team did not make provision for an profile picture to be stored on the database.\n");
                            }
                            else alert(data);
                        });

                    };

                </script>
            </div>

        </div>

    </div>
</div>