<br>
<br>
<div class="vertical-center">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="container containerBg">
            <div class="pageTitle">
                <br>

                <h1 class="text-center"><img src="apple-icon.png" alt="Buzz Logo" class="logo"> SPACES</h1>
            </div>

            <div class="buzzSpace">
                <div class="text-center" id="signIn">
                    Your Registered Buzz Spaces
                </div>
                <br>
                <ul>
                    <li class="space">
                        <div class="col-md-4"><a href="#">COS 301</a></div>
                        <div class="col-md-4">Software Engineering</div>
                        <div class="col-md-4">Latest Post By: <a href="#">Tienie</a></div>
                    </li>
                    <li class="space">
                        <div class="col-md-4"><a href="#">COS 314</a></div>
                        <div class="col-md-4">Artificial Intelligence</div>
                        <div class="col-md-4">Latest Post By: <a href="#">Someone</a></div>
                    </li>
                    <li class="space">
                        <div class="col-md-4"><a href="#">COS 332</a></div>
                        <div class="col-md-4">Computer Networks</div>
                        <div class="col-md-4">Latest Post By: <a href="#">Another One</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>