<div class="vertical-center">
    <div class="container containerBg">
        <div class="buzzSpace">
            <div class="text-center" id="signIn">
                Your Registered Buzz Spaces
            </div>
            <br>
            <ul>
                <li class="space">
                    <div class="col-md-4"><a href="/spaces/COS301">COS 301</a></div>
                    <div class="col-md-4">Software Engineering</div>
                    <div class="col-md-4">Latest Post By: <a href="#">Tienie</a></div>
                </li>
                <li class="space">
                    <div class="col-md-4"><a href="#">COS 314</a></div>
                    <div class="col-md-4">Artificial Intelligence</div>
                    <div class="col-md-4">Latest Post By: <a href="#">Someone</a></div>
                </li>
                <li class="space">
                    <div class="col-md-4"><a href="#">COS 332</a></div>
                    <div class="col-md-4">Computer Networks</div>
                    <div class="col-md-4">Latest Post By: <a href="#">Another One</a></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="footer">
        &copy; 2015 University Of Pretoria
    </div>
</div>
