<div class="row">
    <div class="col-md-8 col-lg-offset-2">
        <div class="buzzSpace">
            <div class="text-center" id="signIn">
                Your Registered Buzz Spaces
            </div>
            <br>
            <ul class="spacesList">

                {{#each spaces}}
                    {{> space }}
                {{/each}}

            </ul>
        </div>
    </div>
</div>




