<div class="row">
    <div>
        <div class="buzzSpace">
            <div class="text-center" id="signIn">
                Your Registered Buzz Spaces
            </div>
            <br>
            <ul>

                {{#each spaces}}
                    {{> space }}
                {{/each}}

            </ul>
        </div>
    </div>
</div>




