<br>
<div class="wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="text-center" id="signIn"><span class="glyphicon glyphicon-info-sign"></span> COS 301 -
                    Software Engineering
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
                <div class="center">
                    <div class="buzzThreads">
                        <div class = "spaceOptions">
                            <button type="submit" class="btn btn-sm btn-success" id="createThread" onclick="addCreateThread()">
                                <span class="glyphicon glyphicon-plus"></span> Create Thread
                            </button>
                        </div>
                        <div class="thread">
                            <div class="threadProfile">
                                <a href="#"><p class="text-center">Tienie Pritchard</p></a>
                                <p class="text-center">Member (Level 10)</p>
                                <p class="text-center"><img src="/profile.png" alt="Profile Picture" height="80"></p>
                                <p class="text-center">2015-03-28 04:32</p>

                            </div>
                            <div class="threadContent">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was
                                    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including versions of
                                    Lorem Ipsum.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was
                                    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including versions of
                                    Lorem Ipsum.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was
                                    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including versions of
                                    Lorem Ipsum.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was
                                    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including versions of
                                    Lorem Ipsum.
                                </p>
                                <div class = "threadOptions">
                                    <ul class="nav navbar-nav">
                                        <li class="active activeNew" id="link">
                                            <a href="#" data-toggle="dropdown" id="link">Admin Options <span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="/">Home</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Buzz System</li>
                                                <li><a href="/spaces">Spaces</a></li>
                                                <li><a href="/profile">Profile & Settings</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/spaces/COS301/1">
                                                <span class="glyphicon glyphicon-share-alt"> </span> Reply To Post
                                            </a>

                                        </li>
                                        <li>
                                            <a href="/spaces/COS301/1">
                                                <span class="glyphicon glyphicon-share-alt"> </span> View Replies
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="thread">
                            <div class="threadProfile">
                                <a href="#"><p class="text-center">Tienie Pritchard</p></a>
                                <p class="text-center">Member (Level 10)</p>
                                <p class="text-center"><img src="/profile.png" alt="Profile Picture" height="80"></p>
                                <p class="text-center">2015-03-28 04:32</p>
                            </div>
                            <div class="threadContent">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was
                                    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including versions of
                                    Lorem Ipsum.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was
                                    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including versions of
                                    Lorem Ipsum.
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                                    of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It was
                                    popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                                    and more recently with desktop publishing software like Aldus PageMaker including versions of
                                    Lorem Ipsum.
                                </p>
                                <div class = "threadOptions">
                                    <ul class="nav navbar-nav">
                                        <li class="active activeNew" id="link">
                                            <a href="#" data-toggle="dropdown" id="link">Admin Options <span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li><a href="/">Home</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Buzz System</li>
                                                <li><a href="/spaces">Spaces</a></li>
                                                <li><a href="/profile">Profile & Settings</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/spaces/COS301/1">
                                                <span class="glyphicon glyphicon-share-alt"> </span> Reply To Post
                                            </a>

                                        </li>
                                        <li>
                                            <a href="/spaces/COS301/1">
                                                <span class="glyphicon glyphicon-share-alt"> </span> View Replies
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="footer">
        &copy; 2015 University Of Pretoria
    </div>
</div>
