<br>
<div class="wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="text-center" id="signIn"><span class="glyphicon glyphicon-info-sign"></span> COS 301 -
                    Software Engineering
                </div>
                <br>

                <div class="text-center">
                    <button type="submit" class="btn btn-sm btn-success" id="createThread" onclick="addCreateThread()">
                        <span class="glyphicon glyphicon-plus"></span> Create Thread
                    </button>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="vertical-center">
            <div class="buzzThreads">
                <div class="thread">
                    <div class="threadProfile">
                        <a href="#"><p class="text-center">Tienie Pritchard</p></a>

                        <p class="text-center"><img src="/profile.png" alt="Profile Picture" height="80"></p>

                        <p class="text-center">2015-03-28</p>
                    </div>
                    <div class="threadContent">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                        <div class="text-right"><a href="/spaces/COS301/1">
                            <button type="submit" class="btn btn-sm btn-success"><span
                                    class="glyphicon glyphicon-share-alt"></span> View 16 Replies
                            </button>
                        </a></div>
                    </div>
                </div>

                <div class="thread">
                    <div class="threadProfile">
                        <a href="#"><p class="text-center">John Doe</p></a>

                        <p class="text-center"><img src="/profile2.gif" alt="Profile Picture" height="80"></p>

                        <p class="text-center">2015-03-27</p>
                    </div>
                    <div class="threadContent">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                        <div class="text-right"><a href="/spaces/COS301/2">
                            <button type="submit" class="btn btn-sm btn-success"><span
                                    class="glyphicon glyphicon-share-alt"></span> View 8 Replies
                            </button>
                        </a></div>
                    </div>
                </div>
                <div class="thread">
                    <div class="threadProfile">
                        <a href="#"><p class="text-center">Jane Doe</p></a>

                        <p class="text-center"><img src="/profile3.png" alt="Profile Picture" height="80"></p>

                        <p class="text-center">2015-03-26</p>
                    </div>
                    <div class="threadContent">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                        <div class="text-right"><a href="/spaces/COS301/3">
                            <button type="submit" class="btn btn-sm btn-success"><span
                                    class="glyphicon glyphicon-share-alt"></span> View 4 Replies
                            </button>
                        </a></div>
                    </div>
                </div>
                <div class="thread">
                    <div class="threadProfile">
                        <a href="#"><p class="text-center">Jane Doe</p></a>

                        <p class="text-center"><img src="/profile3.png" alt="Profile Picture" height="80"></p>

                        <p class="text-center">2015-03-26</p>
                    </div>
                    <div class="threadContent">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                        but also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                        <div class="text-right"><a href="/spaces/COS301/4">
                            <button type="submit" class="btn btn-sm btn-success"><span
                                    class="glyphicon glyphicon-share-alt"></span> View 4 Replies
                            </button>
                        </a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">
        &copy; 2015 University Of Pretoria
    </div>
</div>
