<br>
<div class="wrapper">
    <div class="content">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="text-center" id="signIn"><span class="glyphicon glyphicon-info-sign"></span> COS 301 -
                    Software Engineering
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
                <div class="center">
                    <div class="buzzThreads">
                        <div class = "spaceOptions">
                            <button type="submit" class="btn btn-sm btn-success" id="createThread" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                                <span class="glyphicon glyphicon-plus"></span> Create Thread
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="exampleModalLabel">New Thread</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="control-label">Subject:</label>
                                                    <input type="text" class="form-control" id="recipient-name">
                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text" class="control-label">Content:</label>
                                                    <textarea class="form-control" id="message-text"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Post Thread</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{#each threads}}
                            {{> thread }}
                        {{/each}}
                    </div>
                </div>
            </div>
    </div>
    <div class="footer">
        &copy; 2015 University Of Pretoria
    </div>
</div>
