<div class="wrapper">
    <div class="content">
        {{#if space}}
            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="text-center" id="signIn"><span class="glyphicon glyphicon-info-sign"></span>
                        {{space.module_id}} -  {{space.academic_year}}
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        {{/if}}
        <div class="row">
            <div class="col-md-4"></div>
                <div class="center">
                    <div class="buzzThreads">
                        <div class = "spaceOptions">
                            <button type="submit" class="btn btn-sm btn-success" id="createThread" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">
                                <span class="glyphicon glyphicon-plus"></span> Create Thread
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="exampleModalLabel">New Thread</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label for="subject" class="control-label">Subject:</label>
                                                    <input type="text" class="form-control" id="subject">
                                                </div>
                                                <div class="form-group">
                                                    <label for="content" class="control-label">Content:</label>
                                                    <textarea class="form-control" id="content"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="input-1" id="signIn" class="control-label">Post A
                                                        <label for="input-1" id="signIn" class="control-label">Post A
                                                        Picture:</label>
                                                    <br>
                                                    <br>
                                                    <input id="resource" type="file" style="display:none">

                                                    <div class="input-append">
                                                        <input id="resourceC" class="input-large" type="text">
                                                        <br>
                                                        <br>
                                                        <button class="browseBtn"
                                                                onclick="$('input[id=resource]').click();processResource();">
                                                            Browse
                                                        </button>
                                                        <button type="button" class="browseBtn" onclick="">Upload
                                                        </button>
                                                    </div>
                                                    <script type="text/javascript">
                                                        $('input[id=resource]').change(function () {
                                                            $('#photoCover').val($(this).val());
                                                        });
                                                    </script>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                                            <button type="button" class="btn btn-primary" onclick="postThread()"><span class="glyphicon glyphicon-ok"></span> Post Thread</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{#each threads}}
                            {{> thread }}
                        {{/each}}
                    </div>
                </div>
            </div>
    </div>
</div>
