body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url('bg.jpg');

}

a {
  color: #00B7FF;
}

nav {
    font-family: buzz;
    text-transform: uppercase;
}

.vertical-center {
    min-height: 80vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

@font-face {
    font-family: buzz;
    src: url('MODERNE SANS.ttf');
}

button {
    text-transform: uppercase;
    width: 40%;
    font-size: 150%;
}

h1 {
    font-family: buzz;
    text-transform: uppercase;
}

::-webkit-input-placeholder {
    font-family: buzz;
    text-transform: uppercase;
}

:-moz-placeholder {
    /* Firefox 18- */
    font-family: buzz;
    text-transform: uppercase;
}

::-moz-placeholder {
    /* Firefox 19+ */
    font-family: buzz;
    text-transform: uppercase;
}

:-ms-input-placeholder {
    font-family: buzz;
    text-transform: uppercase;
}

#buzzTitle {
    color: #5cb85c;
}

#brand {
    color: #5cb85c;
}

#brand:hover, #link:hover {
    background-color: #5cb85c;
    color: white;
}